body{
    padding-left: 10px;
    padding-right: 10px;
}

/* header header header header header header header header header header header header header */
img.imagenews{
    float: left;
}

#header{
    font-family: sans-serif;
    font-size: 16px;
    width:1030px;
}

#header ul{
    list-style-type: none;
    display: inline;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}

#header li{
    display: inline;
    margin-right: 30px;
    color: #002714;
    font-family: sans-serif;
}

#header a{
    background-color: orange;
    color: black;
    text-decoration: none;
    padding: 4px 4px;
    border-radius: 4px;
}

#header a:hover{
    background-color:orange;
}

/* menu bar menu bar menu bar menu bar menu bar menu bar menu bar menu bar menu bar menu bar */
#menubar ul {
    padding:0;
    margin:0;
    list-style:none;
}
#menubar li {
    float:left;
    width:200px;
    font-family: "sans-serif";
    font-size: 25px;
    float: left;
}
#menubar{
    background-color: #2369b8;
    height: 30px;
    font-family: "sans-serif";
    font-size: 25px;
    padding-top: 5px;
    padding-left: 30px;
    color: #ffa036;
    width:1030px;
}
ul li {
    position: relative;
    width: 200px;
}
ul li  a:hover, a:active {
    color: #ffffff;
}
ul li:hover > ul {
    display: block;
    background-color: #2369b8;
}
ul ul {
    position: absolute;
    top: 100%;
    list-style: none;
    display: none;
}
ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}
#menubar a{
    color: #ffa036;
    text-decoration: none;
    font-size: 25px;
}
/* menu bar end  menu bar end  menu bar end  menu bar end  menu bar end  menu bar end  menu bar end */


/* mainbody mainbody mainbody mainbody mainbody mainbody mainbody mainbody mainbody  start start */
#mainbody{
    width:1050px;
}

div.topbanner{
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 10px;
    border: #c1c1c1;
    border-style: solid;
    width: 300px;
    height:250px;
    float:left;
}

div.topbanner h1{
    color: #ffa036;
    background-color: #2369b8;
    height: 50px;
    padding: 15px 0px 0px 0px;
    font-size: 35px;
    margin: 0;
    text-align:center;
}

.topbanner ul li{
    color: #666666;
    font-family: sans-serif;
    padding-bottom: 20px;
}

div.bottombanner{
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom:10px;
    border: #c1c1c1;
    border-style: solid;
    border-radius:25px;
    width: 210px;
    height:250px;
    float:left;
}

div.bottombanner h2{
    color: #ffa036;
    background-color: #2369b8;
    border-radius:20px;
    height: 50px;
    padding: 15px 0px 0px 0px;
    font-size: 20px;
    margin: 0;
    text-align:center;
}

.bottombanner ul li{
    color: #666666;
    font-family: sans-serif;
    padding-bottom: 20px;
}

.bottombanner li a{
  background-color: #AFEEEE;
  color:black;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px 5px;
}

.bottombanner li a:hover{
  background-color:#DB7093;
}

/* mainbody mainbody mainbody mainbody mainbody mainbody mainbody mainbody mainbody  end end*/

/* footbar css style footbar css style footbar css style */
#footbar{
    clear: both;
    background-color: #2369b8;
    height: 20px;
    text-align: center;
    color: #ffa036;
    font-family: "arial";
    padding-top: 10px;
    width: 1030px;
}



/* list.php  css style*/
div.listseller{
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 10px;
    border: #c1c1c1;
    border-style: solid;
    width: 300px;
    height:600px;
    float:left;
    color: #666666;
    font-family: "arial";
    padding-top: 10px;
}

div.listseller h1{
    color: #ffa036;
    background-color: #2369b8;
    height: 50px;
    padding: 15px 0px 0px 0px;
    font-size: 35px;
    margin: 0;
    text-align:center;
}

/* css for login.php */
form#login{
  background-color: ivory;
  padding-top: 80px;
  padding-bottom: 50px;
  padding-left: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}

/* css for help.php */
#contact{
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* css for search.php and help.php*/
#searchdiv{
    padding-left: 100px;
    padding-right: 150px;
}

#searchdiv ,#helpdiv h1{
    color: #2369b8;
}

.searchform, .searchsubmit{
    color: #2369b8;
    height: 30px;
    font-size: 16px;
    border: solid #2369b8 2px;
}

.searchform{
    width: 450px;
}

.searchsubmit{
    width: 100px;
    border-radius: 5px;
    cursor:hand;
    background-color: azure;
}

#helpdiv{
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 100px
}

#helpdiv h2 {
        color: #2369b8;
}

p.helpquestions{
    font-size: 18px;
    color: #666666;
    font-family: sans-serif;
}

p.helpanswers{
    padding-left: 20px;
    font-size: 14px;
    color: #666666;
    font-family: sans-serif;
}