
header, section, footer, aside, nav, main, article, figure {
  display: block;
}

body {
  color: #49494a;
}

h3 {
  color: #49494a;
}

@media screen and (min-width: 992px) {
  #provider-img img {
    height: 295px;
  }
}

@media screen and (max-width: 992px) {
  .profile-sidebar {
    display: none;
  }

  #provider-img {
    width: 100%;
  }

  #provider-info {
    width: 50%;
  }

  #calendar {
    width: 50%;
  }
}

@media screen and (min-width: 751px) and (max-width: 992px) {
  .deal .col-md-3 {
    width: 50%;
  }

  .caption h3 {
    text-align: center;
  }

  .caption p {
    text-align: center;
  }

}

@media screen and (max-width: 824px) {
  .navbar-brand {
    font-size: 15px;
  }
  .navbar-default .navbar-nav>li>a {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 780px) {
  .navbar-form .form-control {
    width: 145px;
  }
}

@media screen and (min-width: 768px) {
  .dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
  }

  .dropdown-menu li:hover .sub-menu {
    visibility: visible;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #E7E7E7;
  }

  .dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
  }

  .dropdown-menu li:hover .sub-menu {
    visibility: visible;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

}

@media screen and (max-width: 750px) {
  .caption h3 {
    text-align: center;
  }

  .caption p {
    text-align: center;
  }
}

@media screen and (max-width: 485px) {
  .btn-sm, .btn-group-sm>.btn {
    font-size: 10px;
  }

  .panel-body .row .col-xs-2 {
    width: 50%;
  }

  .panel-body .row .col-xs-2 img {
    padding-left: 15px;
  }

  .panel-body .row .col-xs-4 {
    width: 50%;
  }

  .panel-body .row .col-xs-6 {
    width: 100%;
    text-align: left;
  }

  .panel-body .text-center .col-xs-9 {
    width: 60%;
  }

  .panel-body .text-center .col-xs-3 {
    width: 40%;
  }

  .panel-footer .col-xs-9 {
    width: 60%;
  }

  .panel-footer .col-xs-3 {
    width: 40%;
  }

    #provider-img {
    width: 100%;
  }

  #provider-info {
    width: 100%;
  }

  #calendar {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .deal .col-md-3 {
    width: 100%;
  }
}


/****************************/
         /*header*/
.navbar-header {
  background-color: #003c66;
}

.navbar-collapse {
  background-color: #003c66;
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #ffffff;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

a.navbar-brand {
  background-color: #ffffff;
}

.navbar-form .btn-default {
  color: #00004d;
  background-color: #ffff4d;
}

.dropdown-menu>li>a {
  color: #003c66;
}

/****************************/
       /*body-main*/
/*carousel-generic*/
#carousel-generic {
  margin-top: 50px;
}

/*deal*/
.deal {
  margin-top: 30px;
}

.deal .row {
  display: flex;
  flex-wrap: wrap;
}

.caption {
  color: #49494a;
}

/*learn more*/
.learn-more {
  margin-top: 15px;
  margin-bottom: 15px;
}

/*****************************/
        /*profile*/
#profile {
  margin-top: 70px;
  margin-bottom: 60px;
}

#shop-category-title {
  background-color: #003c66;
  color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
}

.shop-category-subtitle {
  padding-left: 15px;
}

.shop-category-items {
  padding-left: 20px;
}

#current-offer-title {
  background-color: #003c66;
  color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
}

.current-offer li {
  padding-left: 15px;
}

.profile-main {
  padding-left: auto;
  padding-right: auto;
}

div.thumbnail img {        /* Lifen modified*/
    width:100%;
    height: 170px;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
/****************************/
        /*footer*/
.footer {
  margin-top: 50px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background-color: #003c66;
  color: #ffffff;
  text-align: center;
}

.footer .container {
    padding: 5px;
}

.footer a {
  color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
}


/****************************/
        /*sign in*/
#sign-in {
    margin-top: 130px;
    margin-bottom: 135px;
}
.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align:center;
}
.panel-login>.panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
  color: #59B2E0;
  font-size: 18px;
}
.panel-login>.panel-heading a.active2{
  color: #029f5b;
  font-size: 18px;
}
.panel-login>.panel-heading hr{
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}
.btn-login {
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD;
}
.forgot-password {
  text-decoration: underline;
  color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

.btn-register {
  background-color: #1CB94E;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #1CA347;
  border-color: #1CA347;
}

/***************************/
         /*cart*/
#cart {
    margin-top: 110px;
    margin-bottom: 405px;
}

/*****************************/
      /*check out*/
#check-out {
  margin-top:140px;
  margin-bottom: 145px;

}
.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
/*.pl-ziro { padding-left: 0px; }*/

.FAQOrderInfo {
  margin-bottom: 5px;
}


/*------------------------- previous part ------------------------------------*/

img.logo {             /* Lifen added */
  height: 30px;
}

.banner img{          /* Lifen added */
  width:100%;
  height: 420px;
}

/* -------------------------------list.php  --------------------------------*/
.listseller{
    width: 180px;
    float:left;
    padding-top: 10px;
    color: #20386E;
    font-family: "arial";
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.listseller a{
    color: #20386E;
}

.listseller a:hover{
  color:#FFA500
}

.listseller img{
    border-radius: 10px;
    border: 1px solid #20386E;
}

#categoryleft{
    width: 180px;
    float: left;
    border: 1px #20386E solid;
    padding: 0px 10px 10px 10px;  /*top, right, bottom, left*/
    margin-top: 10px;
    margin-bottom: 10px;
}

#categoryleft img{
  width: 30px;
  height: 25px;
  padding-top: 5px;
  padding-right: 5px;
  float: left;
  clear: right;
}

#categoryleft h2{
    color: white;
    background-color: #20386E;
    height: 30px;
    font-size: 20px;
    margin: 0px -10px -10px -10px;
    text-align:left;
    padding-top: 8px;
    font-family: 'lato';
}
#categoryleft a{
    font-size: 18px;
    color: #666666;
    font-family:'Open Sans Condensed','lato';
}
#categoryleft a:hover{
    color:orange;
}
#categoryleft ul{
  margin-left: -40px;
}
#categoryleft li{
    list-style-type: none;
    margin-left: 5px;
    padding-top: 8px;
}

#categoryright{
    width: 830px;
    float: right;
    padding-top: 10px;
    font-size: 20px;
    color: #666666;
}

div.TextOnImg {
  position: relative;
}
div.TextOnImg img {
  width: 100%;
  height: 150px;
}
div.TextOnImg h1 {
  position: absolute;
  top: 90px;
  float: right;
  color: white;
  background-color: #C0C0C0;
}

/*-------------------------------------profile.php --------------------------*/
#provider-img-name {
  display: flex;
  flex-wrap: wrap;
}

#provider-img-name img{
    border-radius: 10px;
    width: 100%;
}

div#provider-img-name h1 {
   font-size: 40px;
}

#provider-img {
  margin-top: 20px;
}

#provider-info {
  margin-top: 20px;
}

#calendar {
  margin-top: 20px;
  float: right;
}

div.evaluation {
  float: left;
  border: 1px solid black;
  margin-top: 10px;
}

/*------for calendar part in profile.php ------*/
div.shop-part span{
  font-size: 15px;
}
div.calendar {
  background: rgba(0, 0, 0, .1);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 15px 15px 7px 15px;
  width: 230px;
  height: 305px;
}
div.calendar header {
  overflow: clear;
  position: relative;
}

div.calendar h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 10px;
  text-align: center;
}
.monthButton {
  position: absolute;
  top: -8px;
  margin-bottom: 4px;
}
.monthButton:first-child {
  left: 0;
}
.monthButton:last-child {
  right: 0;
}
div.calendar table {
  background: #fff;
  border-collapse: collapse;
  color: #222;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  width: 100%;
}
div.calendar th {
  text-align: center;
}
div.calendar td {
  border: 1px solid #ccc;
  color: #444;
  line-height: 22px;
  text-align: center;
}
div.calendar tr:first-child td {
  color: #222;
  font-weight: 700;
}
.selected {
  background: #f0951d;
  border: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .5) inset;
}
.update td:hover{       /* change  */
  background-color: orange;
}
.update input {        /* hide the checkbox */
  display: none;
  /*display: block;*/
}
.selectedDays{          /* change color after days are selected */
  background-color: lightblue;
}
.markoffDays{
  color:grey;
}
input.jsShow{
  margin-top: 5px;
  float: right;
  width: 120px;
}
input.resetButton {
  margin-top: 5px;
  float: left;
  width: 70px;
}

#calendar-hour-input {
  width: 25px;
  margin-right: 2px;
}

/*-----------------------------------career.php--------------------------------------*/

.career-bg {
  background: url('img/careers.jpg') no-repeat center center;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
  margin-top: 50px;
}

.jumbotron {
  height: 350px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}

.jumbotron .container {
  margin-top: 30px;
  margin-left: 10px;
}

.jumbotron #career h1 {
  color: orange;
}

.jumbotron h2 {
  text-indent: 25px;
  color: royalblue;
}

/* ------------------------------- aboutus.php ----------------------------------*/
.about-us {
  margin-top: 50px;
}

.aboutus-bg {
  background: url('img/aboutUsBanner.jpg') no-repeat center center;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 350px;
  top:0;
  left:0;
  z-index: -1;
  margin-top: 50px;
}

.jumbotron {
  height: 350px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}

.jumbotron .about-us h1 {
  color: gold;
}

.about-us img {
  width: 260px;
  height: 260px;
}

.about-us hr {
  margin-top: 0px;
}


/* ------------------------------- contactus.php --------------------------------*/

#contact-us {
  margin-top: 130px;
  margin-bottom: 70px;
}

#contact-us-form textarea {
    width: 100%;
}

#contact-us-form legend {
  text-align: center;
}

#contact-us-info {
  margin-top: 30px;
}

#contactus_submit:hover{
  background-color: #ffd65e;
}

/* ------------------search.php, help.php, sitemap.php------------------------*/

#search {
  margin-top: 100px;
  margin-bottom: 455px;
  color: #20386E;
}

#helpdiv h1{
    color: #20386E;
}

.searchform, .searchsubmit{
    color: #20386E;
    height: 30px;
    font-size: 16px;
    border: solid #20386E 2px;
    float: left;
}

.searchform{
    width: 400px;
}

.searchsubmit{
    width: 100px;
    border-radius: 5px;
    cursor:pointer;
    background-color: azure;
}

#helpdiv{
    padding-top: 10px;
    padding-left: 50px;
    width: 1010px;
}

#helpdiv h2 {
    color: #20386E;
}

/*help js */
.shop_help, .shop_help2, .shop_help3{
  display: none;
}

/*site map js*/
.target{
  display:none;
}
.clickme{
  margin-bottom: 50px;
}

/*for help page <p> style*/
p.helpquestions{
    font-size: 18px;
    color: #666666;
    font-family: sans-serif;
}

p.helpanswers{
    padding-left: 20px;
    font-size: 14px;
    color: #666666;
    font-family: sans-serif;
}
/* for sitemap page ul li font style*/
#helpdiv ul li{
  color: #666666;
  font-family: sans-serif;
}
/*for sitemap page link*/
#helpdiv a{
  color: #666666;
}

/*-------------------------------- cart.php --------------------------------*/
#cartdiv{
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lato', 'Helvetica Neue', "Helvetica", 'Arial', sans-serif;
}

#cartdiv h1{
  color: #20386E;
}

#cartdiv>fieldset{
  color: #20386E;
  font-size: 16px;
  font-family: 'Lato', 'Helvetica Neue', "Helvetica", 'Arial', sans-serif;
  width: 40em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#payment-info input{
  width: 70%;
}
#payment-info input[type="submit"]{
  /*font-weight: bold;*/
  /*margin-left: 11em;*/
}

.ckbutton {
  text-align: right;
}

.carttable {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 30px;
  font-family: "arial";
  font-size: 14px;
  color: #333;
}
.carttable th {
  text-align: center;
}
.carttable td, tr{
    border: 1px solid #dfdfdf;
    border-collapse: collapse;
    width: 30%;
}

td#shopping-cart-subcell {
  padding: 0px;
  border: 0px;
}

table#shopping-cart-subtable {
  margin-bottom: 0px;
}

div#cartDay {
  width: 100px;
}

div.box {
  display: none;
  font-family:Arial, Helvetica, sans-serif;
  border-radius:10px;
  border:1px solid #999;
  padding:10px;
}

/* ----------------------------------login.php------------------------------ */
#loginMainView{
    width:30%;
    height: 350px;
    border-color: gray;
    border-width: thin;
    border-style: ridge;
    margin-left: 350px;
    margin-top: 50px;
    margin-bottom: 80px;
}

#login, #singup{
    margin:60px;
}

#login_submit, #singup_submit{
  color: #fff;
  background-color: #ed9017;
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  width:175px;
}

#login_submit:hover, #singup_submit:hover{
  background-color: #ffd65e;
}
#login_box,#signup_box_password,#sign_user_box{
  height:25px;
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  float:left;
  margin-top: 16px;
  margin-right: 5px;
}

#login_box_password{
  height:25px;
  display: block;
  font-size: 15px;
  float:left;
  margin-top: 16px;
  margin-right: 5px;
  margin-bottom: 20px;
}

#signup_box_email{
  height:25px;
  display: block;
  font-size: 15px;
  float:left;
  margin-top: 16px;
  margin-right: 5px;
  margin-bottom: 20px;
}

#signupMainView{
  width:30%;
  height: 350px;
  border-color: gray;
  border-width: thin;
  border-style: ridge;
  margin-left: 350px;
  margin-top: 50px;
  margin-bottom: 80px;
}

/* ----------------------------------trackorder.php------------------------------ */
#track-order {
  margin-top: 90px;
  margin-bottom: 425px;
  color: #20386E;
}

div#receiptInfo{
  width: 200px;
}
p.shipAddr {
  padding-left: 5px;
  font-size: 13px;
}
.receiptTableOuter th {
  text-align: center;
}
.receiptTable {
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 0px;
  font-family: "arial";
  font-size: 14px;
  color: #333;
}
.receiptTable th {
  text-align: center;
}
.receiptTable td, tr{
    border: 1px solid #dfdfdf;
    border-collapse: collapse;
}

td#track-order-subcell {
  padding: 0px;
  border: 0px;
}
